.drawer-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem;
	h3 {
		margin: 0;
	}
}

.mat-drawer-container {
	height: 100%;
}

.drawer-content {
	padding: 0 0.5rem;
}
